@page "{nome?}"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2>Selecione uma capital!</h2>

<div class="row justify-content-md-center">
    <div class="col-sm-2" style="overflow-y:scroll">
        @{
            foreach (var municipio in Model.Municipios)
            {
                <a asp-route-nome="@municipio.Key" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">@municipio.Key.Replace("-", " ")</h5>
                    </div>
                </a>
            }
        }
    </div>
    <div class="col-sm-10 h-25">
        <ul class="nav nav-pills mb-3" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="open-weather-tab" data-bs-toggle="tab" data-bs-target="#open-weather" type="button" role="tab" aria-controls="open-weather" aria-selected="true">Open Weather Map</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="open-uv-tab" data-bs-toggle="tab" data-bs-target="#open-uv" type="button" role="tab" aria-controls="open-uv" aria-selected="false">Open UV</button>
            </li>
        </ul>

        <!-- Template
            <a href="#" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Sensação Térmica</h5>
                    <small class="text-muted">Núvens dispersas.</small>
                </div>
                <p class="mb-1">38°C</p>
                <small>3 days ago</small>
            </a> -->

        <div class="tab-content">
            <div class="tab-pane active" id="open-weather" role="tabpanel" aria-labelledby="open-weather-tab">
                <div class="row justify-content-md-center">
                    <div class="col-sm-6" style="overflow-y:scroll">
                        <div class="list-group">
                            <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">Clima Atual</h5>
                                    <small>@Model.ClimaAtual.DataPrevisao.ToString("g")</small>
                                </div>
                            </a>
                            @{
                                <a href="#" class="list-group-item list-group-item-action">
                                    @if (Model.ClimaAtual.Condicoes != null)
                                    {
                                        @foreach (var condicao in Model.ClimaAtual.Condicoes)
                                        {
                                            <div class="d-flex w-100 justify-content-between">
                                                <h5 class="mb-1">Condição atual: @condicao.Detalhes</h5>
                                                <small class="text-muted">@condicao.Icone</small>
                                            </div>
                                        }
                                    }

                                    @if (Model.ClimaAtual.Chuva != null)
                                    {
                                        <small>Precipitação na última hora: @Model.ClimaAtual.Chuva.ChuvaUltimaHora mm</small>
                                    }
                                </a>
                            }
                            <a href="#" class="list-group-item list-group-item-action">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">Sensação Térmica</h5>
                                    <p class="mb-1">@Model.ClimaAtual.SensacaoTermica°C</p>
                                </div>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">Humidade Relativa</h5>
                                    <p class="mb-1">@Model.ClimaAtual.Humidade%</p>
                                </div>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">Pressão Atmosférica</h5>
                                    <p class="mb-1">@Model.ClimaAtual.Pressao hPa</p>
                                </div>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">Ponto de Orvalho</h5>
                                    <p class="mb-1">@Model.ClimaAtual.PontoOrvalho°C</p>
                                </div>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">Índice UV</h5>
                                    <p class="mb-1">@Model.ClimaAtual.IndiceUV</p>
                                </div>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">Visibilidade</h5>
                                    <p class="mb-1">@Model.ClimaAtual.Visibilidade m</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6" style="overflow-y:scroll">
                        <div class="list-group">
                            <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">Previsão Diária</h5>
                                    <small>@Model.PrevisaoDiaria.DataPrevisao.ToString("g")</small>
                                </div>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">Temperatura</h5>
                                    <p class="mb-1">Diária: @Model.PrevisaoDiaria.Temperatura.TempDiaria°C</p>
                                </div>
                                <small>Máxima de @Model.PrevisaoDiaria.Temperatura.TempMax°C e Mínima de @Model.PrevisaoDiaria.Temperatura.TempMin°C</small>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">Sensação Térmica</h5>
                                    <p class="mb-1">Diária: @Model.PrevisaoDiaria.SensacaoTermica.SensDiaria°C</p>
                                </div>
                                <div class="d-flex"><small>Manhã: @Model.PrevisaoDiaria.SensacaoTermica.SensManha°C</small></div>
                                <div class="d-flex"><small>Entardecer: @Model.PrevisaoDiaria.SensacaoTermica.SensEntardecer°C</small></div>
                                <div class="d-flex"><small>Noite: @Model.PrevisaoDiaria.SensacaoTermica.SensNoite°C</small></div>
                            </a>
                            @{
                                <a href="#" class="list-group-item list-group-item-action">
                                    @if (Model.PrevisaoDiaria.Condicoes != null)
                                    {
                                        @foreach (var condicao in Model.PrevisaoDiaria.Condicoes)
                                        {
                                            <div class="d-flex w-100 justify-content-between">
                                                <h5 class="mb-1">Condição diária: @condicao.Detalhes</h5>
                                                <small class="text-muted">@condicao.Icone</small>
                                            </div>
                                        }
                                    }

                                    @if (Model.PrevisaoDiaria.ProbPrecipitacao > 0.0f)
                                    {
                                        <div class="d-flex justify-content-between">
                                            <small>Probabilidade de precipitação: @(Model.PrevisaoDiaria.ProbPrecipitacao * 100)%</small> <!-- Tratar esse valor -->
                                            <small>Precipitação diária: @Model.PrevisaoDiaria.Precipitacao mm</small>
                                        </div>
                                    }
                                    @if (Model.PrevisaoDiaria.Neve > 0.0f)
                                    {
                                        <small>Neve: @Model.PrevisaoDiaria.Neve mm</small>
                                    }
                                </a>
                            }
                            <a href="#" class="list-group-item list-group-item-action">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">Cobertura de Nuvens</h5>
                                    <p class="mb-1">@Model.PrevisaoDiaria.CoberturaNuvem%</p>
                                </div>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">Índice UV Diário</h5>
                                    <p class="mb-1">@Model.PrevisaoDiaria.IndiceUV</p>
                                </div>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">Humidade Relativa</h5>
                                    <p class="mb-1">@Model.PrevisaoDiaria.Humidade%</p>
                                </div>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">Nascer do Sol</h5>
                                    <small>@Model.PrevisaoDiaria.DataAmanhecer.ToString("t")</small>
                                </div>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">Por do Sol</h5>
                                    <small>@Model.PrevisaoDiaria.DataEntardecer.ToString("t")</small>
                                </div>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">Pressão Atmosférica</h5>
                                    <p class="mb-1">@Model.PrevisaoDiaria.Pressao hPa</p>
                                </div>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">Ponto de Orvalho</h5>
                                    <p class="mb-1">@Model.PrevisaoDiaria.PontoOrvalho°C</p>
                                </div>
                            </a>
                            @{
                                <a href="#" class="list-group-item list-group-item-action">
                                    @if (Model.PrevisaoDiaria.Alertas != null)
                                    {
                                        @foreach (var alerta in Model.PrevisaoDiaria.Alertas)
                                        {
                                            <div class="d-flex w-100 justify-content-between">
                                                <h5 class="mb-1">Alerta: @alerta.Evento</h5>
                                                <small class="text-muted">De @alerta.DataInicio.ToString("d") até @alerta.DataTermino.ToString("d")</small>
                                            </div>
                                            <small>@alerta.Descricao</small>
                                            <small>Fonte: @alerta.AlertaFonte</small>
                                        }
                                    }
                                </a>
                            }
                        </div>
                    </div>
                </div>
            </div>
            @{
                string classeCss = Model.PrevisaoOpenUV.IndiceUV switch
                {
                    > 11f => "list-group-item-primary",
                    >= 8f => "list-group-item-danger",
                    >= 6 => "list-group-item-warning",
                    >= 3 => "list-group-item-dark",
                    _ => "list-group-item-light"
                };
            }
            <div class="tab-pane" id="open-uv" role="tabpanel" aria-labelledby="open-uv-tab">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                        <div class="d-flex w-100 justify-content-center">
                            <h5 class="mb-1">Índice UV Diário</h5>
                        </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action list-group-item-primary">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Índice: [11+...) (Extremo)</h5>
                            <small class="text-muted">10/08/2021 às 13h:00:00</small>
                        </div>
                        <p class="mb-1">Mensagem sobre índice UV.</p>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action list-group-item-danger">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Índice: [8-11) (Muito Alto)</h5>
                            <small class="text-muted">10/08/2021 às 15h:00:00</small>
                        </div>
                        <p class="mb-1">Mensagem sobre índice UV.</p>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action list-group-item-warning">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Índice: [6-8) (Alto)</h5>
                            <small class="text-muted">10/08/2021 às 17h:00:00</small>
                        </div>
                        <p class="mb-1">Mensagem sobre índice UV.</p>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action list-group-item-dark">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Índice: [3-6) (Moderado)</h5>
                            <small class="text-muted">10/08/2021 às 17h:00:00</small>
                        </div>
                        <p class="mb-1">Mensagem sobre índice UV.</p>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action list-group-item-light">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Índice: [0-3) (Baixo)</h5>
                            <small class="text-muted">10/08/2021 às 17h:00:00</small>
                        </div>
                        <p class="mb-1">Mensagem sobre índice UV.</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    </div>
<div class="d-flex p-2 bd-highlight">I'm a flexbox container!</div>
