@model WeatherApiApp.Models.ClimaAtualOpenW
@{
}

<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Clima Atual</h5>
            <small>@Model.DataPrevisao.ToString("g")</small>
        </div>
    </a>
    @{
        <a href="#" class="list-group-item list-group-item-action">
            @if (Model.Condicoes != null)
            {
                @foreach (var condicao in Model.Condicoes)
                {
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Condição atual: @condicao.Detalhes</h5>
                        <small class="text-muted">@condicao.Icone</small>
                    </div>
                }
            }

            @if (Model.Chuva != null)
            {
                <small>Precipitação na última hora: @Model.Chuva.ChuvaUltimaHora mm</small>
            }
        </a>
    }
    <a href="#" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Sensação Térmica</h5>
            <p class="mb-1">@Model.SensacaoTermica°C</p>
        </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Humidade Relativa</h5>
            <p class="mb-1">@Model.Humidade%</p>
        </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Pressão Atmosférica</h5>
            <p class="mb-1">@Model.Pressao hPa</p>
        </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Ponto de Orvalho</h5>
            <p class="mb-1">@Model.PontoOrvalho°C</p>
        </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Índice UV</h5>
            <p class="mb-1">@Model.IndiceUV</p>
        </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Visibilidade</h5>
            <p class="mb-1">@Model.Visibilidade m</p>
        </div>
    </a>
</div>
